 <%- include('footer.ejs') -%> <! –chama o rodape(footer) que esta em outra pasta //–>

    </div>

    <%- include('footer-gototop.ejs') -%> <! –chama o footergototop que esta em outra pasta //–>
    <%- include('footer-scripts.ejs') -%> <! –chama o footer-scripts que esta em outra pasta //–>


</body>

</html>